<!doctype html>
<html lang="en" data-framework="javascript">

<head>
    <meta charset="utf-8">
    <title>Calendar App</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>

<body>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="title">
                <h1 class="text-center">Interview Scheduler Application</h1>
            </div>
        </div>
        <br>
      <br><hr>

        <div class="row">
            <div class="col offset-md-1">
                <div class="row">
                    <div class="col">
                        <h3>Schdeuled Interviews</h3>
                    </div>
                    <div class="col form-group">
                        <button type="button" class="btn btn-danger btn-block" onclick="location.href = 'form.html';">Create New</button>
			<button type="button" class="btn btn-danger btn-block" onclick="location.href = 'edit.html';">Edit</button>
			<!-- <button type="button" class="btn btn-danger btn-block" >Delete</button> -->
			Interview Id to be deleted:
			<input type="button"  value="Enter" name="btn" />
			<input type="button"  value="Submit" name="btn" />
			<hr />
      <div id="dvi" style="display: none">
        ID:
        <input type="text" id="idt" />
      </div>
                   </div>
                </div>
                <table class="table table-bordered table-hover table-striped table-sm" id="interview_list">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" class="text-center align-middle">Id</th>
                            <th scope="col" class="text-center align-middle">Date</th>
                            <th scope="col" class="text-center align-middle">Interviewer</th>
                            <th scope="col" class="text-center align-middle">Candidate</th>
                            <th scope="col" class="text-center align-middle">Start time</th>
                            <th scope="col" class="text-center align-middle">End time</th>
                            <th scope="col" class="text-center align-middle">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <br><br><br>
    </div>



</body>
<script type="text/javascript">
    // function ShowHideDiv(btn) {
    //     var dvi = document.getElementById("dvi");
    //     dvi.style.display = btn.value == "Enter" ? "block" : "none";
    // }

    $(function () {
        $("input[name=btn]").click(function () {
            if ($(this).val() == "Enter") {
                $("#dvi").show();
            } else {
                $("#dvi").hide();
            }
        });
    });

    $(function(){
      $('Submit').click(function(){
	       $.ajax({
		         url: '/delete_interview',
		         data: $('form').serialize(),
		         type: 'POST',
		         success: function(response){
			            console.log(response);
		              },
		         error: function(error){
			            console.log(error);
		              }
	       });
       });
  });
  </script>
</html>
